.containLists {
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: rgb(49, 50, 58);
    width: 59rem;
    color: white;
    margin-top: 1rem;
    border-radius: 7px;
    padding-bottom: 0.5rem;
    box-shadow: 0 0 3px 1px #60dfff;
}

.containTitle {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    height: 2.6rem;
    width: 100%;
    border-bottom: 1px solid white;
    background-color: rgb(42, 43, 49);
    font-weight: bold;
    box-shadow: 0 0 3px 1px #60dfff;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.containTitle .toolbarShow {
    width: 19px;
    height: 19px;
    margin-left: 0.5rem;
    position: absolute;
    cursor: pointer;
}

.containTitle .toolbarHide {
    display: none;
}

.containLists ul {
    color: white;
    width: 50%;
    padding-left: 0%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containLists .ulImagesNotFound {
    border-right: 2px solid rgb(150, 150, 150);
}

.containLists .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 19rem;
    border-radius: 5px;
}
.containLists img {
    width: 28px;
    height: 28px;
}

.containLists li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    gap: 1rem;
    width: 85%;
    padding: 0.5rem;
    padding-left: 2rem;
    background-color: rgb(59, 60, 68);
    border-bottom: 1px solid white;
    box-shadow: 0 0 3px 1px #60dfff;
}

.containLists li img {
    width: 21px;
    height: 21px;
    margin-right: 1rem;
}

.containLists .rowOne {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.containLists .rowOne img {
    width: 28px;
    height: 28px;
    margin-right: 0;
}

.notFoundImages {
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 0;
    color: white;
}
.notFoundImages h4 {
    margin-top: 0.5rem;
    opacity: 75%;
}

.notFoundImages img {
    height: 75px;
    width: 75px;
    opacity: 65%;
}

.containSearchShow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 0.7rem;
}
.containSearchHide {
    display: none;
}

.containSearchShow img {
    position: absolute;
    margin-left: 13.3rem;
    top: 0.2rem;
    width: 12px;
    height: 12px;
}

.containSearchShow img {
    cursor: pointer;
}


.containSearchShow input {
    width: 12rem;
    height: 2.2rem;
    border-radius: 5px;
    border: none;
    color: white;
    outline: none;
    font-weight: bold;
    background-color: rgb(59, 60, 68);
    padding-left: 1rem;
    padding-right: 2rem;
    box-shadow: 0 0 2px 1px #60dfff;
}

.containSearchShow input:hover {
    box-shadow: 0 0 3px 1px #60dfff;
}

@media only screen and (max-width: 699px) {
    .containLists {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 95%;
    }

    .containLists ul {
        color: white;
        width: 100%;
        padding-left: 0%;
    }

    .containLists img {
        width: 28px;
        height: 28px;
    }

    .notFoundImages {
        font-size: 15px;
    }

    .notFoundImages img {
        height: 65px;
        width: 65px;
    }

    .containSearchShow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containSearchHide {
        display: none;
    }

    .containSearchShow img {
        position: absolute;
        margin-left: 13.3rem;
        top: 0.2rem;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    .containSearchShow input {
        width: 12rem;
        height: 2.2rem;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1080px) {
    .containLists {
        width: 82%;
    }

    .containLists .scroll {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        width: 100%;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        height: 12rem;
        border-radius: 5px;
    }
    .containLists img {
        width: 28px;
        height: 28px;
    }

    .containLists li {
        font-size: 13px;
        width: 75%;
        padding: 0.5rem;
    }
    .containLists li img {
        width: 17px;
        height: 17px;
        margin-right: 1rem;
    }

    .containLists .rowOne {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .containLists .rowOne img {
        width: 24px;
        height: 24px;
        margin-right: 0;
    }

    .notFoundImages {
        height: 99%;
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        gap: 0;
        color: white;
    }
    .notFoundImages h4 {
        margin-top: 0.5rem;
        opacity: 75%;
    }

    .notFoundImages img {
        height: 65px;
        width: 65px;
        opacity: 65%;
    }
    .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 13px;
    }

    .title img {
        width: 22px;
        height: 22px;
    }
    .containTitle .toolbarShow {
        width: 16px;
        height: 16px;
    }

    .containSearchShow {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .containSearchHide {
        display: none;
    }

    .containSearchShow img {
        position: absolute;
        margin-left: 13.3rem;
        top: 0.2rem;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    .containSearchShow input {
        width: 12rem;
        height: 2.2rem;
        font-size: 12px;
    }
}
